<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Choose a Madlib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Create a MadLib:</h1>
    <form action ="/puppy-story2" method="post">
		<label for="food1">Enter a Food</label>
    <input id="food1" name="food1" type="text">
    <label for="food2">Enter Another Food</label>
    <input id="food2" name="food2" type="text">
    <label for="food3">Enter Another Another Food</label>
    <input id="food3" name="food3" type="text">
    <label for="noun">Enter a Noun</label>
    <input id="noun" name="noun" type="text">
    <label for="verb">Enter a Ferb</label>
    <input id="verb" name="verb" type="text">
    <label for="adj">Enter an Adjective</label>
    <input id="adj" name="adj" type="text">
    <button type="submit">Create MadLib</button>
    </form>
  </body>
</html>